/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #f9fafb;
  font-family: "Inter", "Arial", "sans-serif";
}

/* ---- GENERIC LINKS ---- */

/* ---------------------------------------------------- */
/*  HEADER  */
/* ---------------------------------------------------- */

header {
  background-image: linear-gradient(#ec489a52, #0bcf8e8e),
    url(img/hero-image.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;

  padding-top: 10%;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  margin-left: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* border-bottom: 5px solid #ec489a; */
}
